<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${essay.id}"></td>
                    <th>文章标题</th>
                    <td th:text="${essay.title}"></td>
                </tr>
                <tr>
                    <th>作者ID</th>
                    <td th:text="${essay.userId}"></td>
                    <th>文章内容</th>
                    <td th:text="${essay.content}"></td>
                </tr>
                <tr>
                    <th>分享數</th>
                    <td th:text="${essay.shareCount}"></td>
                    <th>點擊數</th>
                    <td th:text="${essay.clickCount}"></td>
                </tr>
                <tr>
                    <th>點贊數</th>
                    <td th:text="${essay.likesCount}"></td>
                    <th>原創標識</th>
                    <td th:text="${essay.originalFlag}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${essay.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${essay.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(essay.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(essay.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>